* {
  color: black;
  background: transparent;
  font-size: 12pt;
  font-family: serif;
}

@page {
  margin: 0.5in;
}

nav, .small, .social li{
  display: none;
}


h1 {
  font-size: 32pt;
}

h2 {
  font-size: 13pt;
}

h3 {
  font-size: 18pt;

}

h1, h2, h3 {
  line-height: 10pt;
}

h4 {
  line-height: 10pt;
}


p {
  line-height: 2pt;
}

article span {
  display: block;
  font-weight: normal;
  font-style: italic;
  margin-top: 0.07in;

}

a {
  text-decoration: none;
}
