@media (max-width: 320px) {

  body {
    font-family: sans-serif;
    font-size: 22px;
  }

  #container {
    border: 0;
    max-width: 320px;
    margin: 1px;
    padding: 1px;
  }


  #rightbar {
    width: 310px;
    padding:1px;
    margin-top: 40px;
  }


  #leftbar {
    font-size: 26px;
  }


.small{
  width:150px;
  height:120px;
  margin-top: 5px;
}

  address {
  font-size: 15px;

}

.hide {
  display: block;
}

.address {
display: none;
}

nav {

  font-size: 20px;
  text-transform: uppercase;
  display: block;
  margin-top: 45px;

}

  .street {
    display: none;
  }

  .copyright {
    display:none;
  }

.horizontal1 {
  width: 300px;
  height: 193px;
}

}
